@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-hx8gxx');
	src:url('../fonts/icomoon.eot?#iefix-hx8gxx') format('embedded-opentype'),
		url('../fonts/icomoon.woff?-hx8gxx') format('woff'),
		url('../fonts/icomoon.ttf?-hx8gxx') format('truetype'),
		url('../fonts/icomoon.svg?-hx8gxx#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-business-card:before {
	content: "\e600";
}
.icon-stats:before {
	content: "\e601";
}
.icon-creditcards:before {
	content: "\e602";
}
.icon-truck:before {
	content: "\e603";
}

body{
	font-size: 16px;
	background: #C7C7C7;
}
header{
	position: relative;
}
#logo, .titulos{
	float: left;
}
#logo img{
	border-radius: 5px;
}
.titulos{
	width: 85%;
	padding: 3em;
	padding-top: 0;
}
.login{
	text-align: center;
}
button.center{
	margin-top: 1.8em;

}
.usuario{
	position: absolute;
	right: 0;
	top: 1.5em;
	text-align: right;
}
.nav-tabs > li > a{
	background: #E4E4E4;
}
#mainWrapper{
	border-radius: 5px;
	margin: 0 auto;
	margin-top: 10px;
	max-width: 1000px;
}
.print{
	float: right;
	font-size: 1.5em;
}

#titleContent{
	background: #fff;
	border: 1px solid #ddd;
	border-bottom: none;
	border-top: none;
	color: #555;
	padding: 10px;
}
.registrar{
	width: 92%;
	margin-bottom: .5em;
	margin-right: .5em;
}
.registrar, .borrar{
	display: inline-block;
}

#botones{
	text-align: center;
}
#botones button{
	font-size: 16px;
}
#botones button:last-child{
	margin-left: 2em;
}
#resultados img{
	display: block;
	margin: 0 auto;
}
.dropdown-menu > li > a{
	font-size: 16px;
}
#tarjeta{
	background: white;
	text-align: center;
}
.tarjeta{
	/*background: url("../img/logotarjetas.png")no-repeat fixed center;
	background-size: 25%;
	background-position: 545px 20px;*/

	border: solid 1px black;
	display: block;
	margin: 5em auto;
	width: 8.5cm;
	height: 5.4cm;
}
p.iden{
	text-align: left;
	border-bottom: solid 1px black;
	padding-left: .5em;
}
p.pie{
	border-top: solid 1px black;
	font-size: 12px;
}


.cuerpo{
	display: block;
	margin: 0 auto;
	text-align: center;
}
.codigo canvas{
	display: block;
	margin: 0 auto;
	height: 20px;
}
.imprimir{
	cursor: pointer;
}
span{
	margin-right: .8em;
}
section{
	background: #fff;
	border: 1px solid #ddd;
	border-bottom: none;
	border-top: none;
	box-shadow: 0px -50px 30px black;
	padding-bottom: 2em;
}
section article{
	padding-top: 15px;
}
.alert{
	position: relative;
	padding: 1.5em;
}
.imguser{
	position: absolute;
	right: 2em;
	top: 1em;
}
.imguser img{
	border-radius: 5px;
	box-shadow: 0px 0px 10px rgba(0,0,0,.7);
}
.imguser p{
	margin: .5em 0;
}
.barCode{
	border: 1px solid gray;
	border-radius: 4px;
	margin: 0 auto;
	margin-bottom: 10px;
	height: 125px;
	width: 61%;
}
.guardar{
	margin-left: 10.4em;
}
.barCode header{
	border-bottom: 1px solid gray;
	height: 35px;
	margin-top: -10px;
}
.barCode header h4{
	background: #f7f7f9;
	line-height: 34px;
	text-align: center;
}
.alert{

}
#aRegister{

}

#tSearch_wrapper{
	margin-bottom: 30px;
}
#aSearch{
	padding: 0 1em;
}
#aSearch .container-fluid{
	border-top: 1px solid gray;
	display: none;
	padding-top: 10px;
}
#aSearch table tr{
	cursor: pointer;
}
#reloj{
	border-left: solid 1px #eee;
	font-size: 18px;
	text-align: right;
    position: absolute;
    right: 0;
    top: 0em;
    padding: 1em 1em;
}
thead{
	background:rgb(0, 107, 78);
	color: #fff;
}
footer{
	background: rgba(0,0,0,0.7);
	border-radius: 5px;
	color: white;
	margin: 1em auto;
	max-width: 1000px;
	padding: 12px;
}
footer p{
	text-align: center;
	vertical-align: middle;
	margin: 0;
}
